<h1>Welcome to Kubernetes Training!</h1>

<mat-card>
    <mat-card-title>Agenda</mat-card-title>
    <mat-card-subtitle>Below is the agenda for today's Kubernetes training.</mat-card-subtitle>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">Session 1: Overview and Objectives</mat-list-item>
            <mat-list-item role="listitem">Session 2: Kubernetes Concepts, Tools, and Alternatives</mat-list-item>
            <mat-list-item role="listitem">Session 3: Kubernetes Components and Key Terms</mat-list-item>
            <mat-list-item role="listitem">Lunch</mat-list-item>
            <mat-list-item role="listitem">Afternoon: Hands On Labs</mat-list-item>
          </mat-list>
    </mat-card-content>
    <mat-card-footer>
        <h3>Resources</h3>
        <mat-list role="list">
            <mat-list-item role="listitem">PowerPoint Presentation</mat-list-item>
            <mat-list-item role="listitem">Lab 1 - Intro to Kubernetes Cluster</mat-list-item>
            <mat-list-item role="listitem">Lab 2 - Deploy Hello World App</mat-list-item>
            <mat-list-item role="listitem">Lab 3 - Scaling, Monitoring, and Upgrading</mat-list-item>
          </mat-list>
    </mat-card-footer>
</mat-card>
